.landing-page {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    background: var(--default-background);
}


/*              Components        Components dont have to be 100vh, reconsider sizing later      */ 
.landing-quote, .landing-statement, .landing-walk-through, .landing-contact {
    scroll-snap-stop: always;
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 100px;
    border-bottom: 2px solid var(--default-border-color);
}
/*                  Quote.jsx              */
.prim-quote {
    font-size: 4em;
    font-weight: 500;
    color: var(--default-white);
}
.hl-green {
    color: forestgreen;
    font-weight: 500;
}
.hl-red {
    color: rgb(207, 29, 29);
    font-weight: 500;
}
.em-word {
    font-weight: 700;
    border-bottom: 3px solid black;
}
 /* Statement.jsx */
.landing-statement {
    background: linear-gradient(to bottom, var(--default-background), var(--default-foreground));
}
.landing-walk-through {
    background: linear-gradient(to bottom, var(--default-foreground), rgb(44, 46, 49))
}
.landing-contact {
    background: linear-gradient(to bottom, rgb(44, 46,49), rgb(49, 52, 55))
}
