#home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.habit-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 200px;
    justify-content: flex-start;
    height: 100%;
    gap: 19px;
    padding: 35px;
    padding-top: 0;
}
.habit-toolbar {
    display: flex;
    justify-content: flex-start;
    padding: 35px;
}

.sort-and-filter {
    display: flex;
    gap:20px;
}
.sort, .filter {
    display: flex;
    align-items: center;
    gap: 5px;
}
.sort svg, .filter svg {
    width: 1.75em;
    height: 1.75em;
    color: var(--default-inactive);
}
.sort select, .filter select {
    border-radius: 5px;
    padding: 2.5px;
    font-family: satoshi variable;
    outline: none;
    font-weight: 500;
    color: var(--default-white);
    border: 1px solid var(--default-inactive);
    font-size: 1em;
    background: none;
    cursor: pointer;
    width: 100px;
}

.empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: var(--default-radius);
    color: vaR(--default-border-color);
    margin: 25px;

}

.add-habit-btn {
    position: fixed;
    bottom: 10%;
    right: 3%;
    border-radius: 50%;
    background: var(--default-blue);
    width: 5em;
    height: 5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.501);
    display: flex;
    justify-content: center;
    align-items: center;

}


.add-habit-btn svg {
    width: 5em;
    height: 5em;
}

@media (max-width: 800px) {
    .habit-container {
        justify-content: center;
        gap: 10px;
        padding:10px;
    }
}
