.login-form, .register-form {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 5px solid var(--default-border-color);
    gap: 10px;
    margin-top: 50px;
    width: 300px;
}
.login-form h1, .register-form h1 {
    text-align: center;
    margin: 15px;
    color: white;
}
.login-form label, .register-form label {
    color: var(--default-inactive)
}
.login-form button, .register-form button {
    background: var(--default-blue)
}
.login-form input, .register-form input {
    background: var(--default-foreground);
    color: white;
}


/* Habit Form */
.form-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.232);
    top: 0;
    left: 0;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.habit-form {
    background: var(--default-background);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.563);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
    gap: 10px;
    width: 400px;
    z-index: 9000;
}
.habit-form input {
    background: vaR(--default-foreground);
    color: var(--default-white);
}
.habit-form label {
    color: var(--default-inactive)
}
.color-selector {
    display: flex;
    gap: 10px;
}
.color-selector-btn {
    border-radius: 50%;
    height: 2em;
    width: 2em;
}
.color-selector-btn.red {
    background: var(--default-red)
}
.color-selector-btn.blue {
    background: var(--default-blue);
}
.color-selector-btn.purple {
    background: var(--default-purple);
}
.color-selector-btn.green {
    background: var(--default-green);
}
.color-selector-btn.orange {
    background: var(--default-orange);
}
.color-selector-btn#selected {
    border: 3px solid white;
}

/* goal Form */
.goal-form {
    background: var(--default-background);
    display: flex;
    flex-direction: column;
    padding: 40px;

    gap: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.563);
    width: 400px;
}
.goal-form h1{
    color: white;

}
.goal-form label {
    color: var(--default-inactive);
}
.goal-option-bar {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.option-bar-btn {
    display: flex;
    gap: 10px;

}
.goal-option-bar button {
    background: var(--default-background);
    border: 1px solid var(--default-inactive);
    color: var(--default-inactive);
    border-radius: 5px;
    width: 80px;
    padding: 5px;
}
.goal-option-bar .active {
    color: vaR(--default-white);
    border: 1px solid var(--default-white);
    background: rgba(255, 255, 255, 0.091);
}
.goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.goal input {
    background: var(--foreground);
    color: var(--default-inactive);
    border: 1px solid var(--default-inactive)
}
.duration-container {
    display: flex;
    gap: 10px;
}
.duration-container > * {
    width: 75px;
    padding: 5px;
    cursor:pointer
}
.duration-container select {
    background: none;
    border-radius: 5px;
    color: var(--default-inactive);
    outline: none;
}
.optional-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    height: 1em;
    width: 1em;
    border: 1px solid var(--default-inactive);
    border-radius: 5px;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    
}
input[type="checkbox"]:checked ~ .checkmark {
    left: 4px;
    top: -5px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
 


/* global style */
form h1 {
    color: white;
    text-align: center;
}

.submit-btn {
    background: var(--default-blue);
    border-radius: 5px;
    color: var(--default-white);
}
.cancel-btn {
    background: none;
    border: 1px solid var(--default-inactive);
    color: var(--default-inactive);
    border-radius: 5px;
}
.submit-btn:hover {
    filter: brightness(120%)
}
.cancel-btn:hover {
    border: 1px solid var(--default-white);
    color: var(--default-white);
}

.goal-form, .habit-form {
    gap: 20px;
}

.pop-up {
    animation: pop-up .3s ease-in-out forwards
}


@keyframes pop-up {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0%)
    }
}


input {
    border-radius: 5px;
    border: 1px solid var(--default-border-color);
    outline: none;
    font-family: "satoshi variable";
    padding: 5px;
}
input:focus {
    border: 1px solid var(--default-white);
}
label {
    color: var(--defaut-inactive);
}
